* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    /* background-color: #f0f5ff; */
}
body{
    height: 100vh;
    width: 100vw;
}
a{
    text-decoration: none;
    color: black;
}
.heading{
    color: rgb(173, 173, 173);
    padding-bottom: 2%;
}
.navbar{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: sticky;
}
.headerLogo{
    padding-left: 3%;
}
.optionSection{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    width: 40%;
}
.optionName{
    display: flex;
    /* justify-content: space-between; */
    padding: 2% 3%;
}

.lastSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    border: 5px solid maroon;
    width: 10%;
}
.login{
    padding-left: 5%;
    border: 2px solid red;
}
.StartSelling{
    padding-right: 2%;
    border: 3px solid salmon;
    /* width: 100%; */
}
.banner{
    width: 100%;
    border: 2px solid green;
    align-items: center;
}
.banner img{
    
}

.successStoriesHeading{
    padding: 5% 6%;
}

/* list catrgory right section */
.listSection{
    padding-top: 20%;
    padding-bottom: 20%;
    position: sticky;
    width: 30%;
    border: 2px solid orange;
}
.listSectionCategory{
    padding-left: 30%;
    padding-bottom: 6%;
    align-items: center;
    position: sticky;
}
.listSectionCategory button{
    height: 70px;
    width: 250px;
    background-color: white;
    border-color: #027cd5;
    border-radius: 5px;
    color: #027cd5;
    font-size: larger;
}
