.data{
    margin-top: 35px;
    /* border: 2px solid black; */
    /* height: 60vh; */
    padding-top: 30px;
    background-color: #172337; 
    
} 

.data .main_info{
     
    padding: 10px 60px;
    height: 40vh;
    display: flex;
    border-bottom: 1px solid rgba(177, 173, 173, 0.348); 
    justify-content: center;
}

.data .main_info .about{
    /* border: 2px solid black; */
    width: 22vh;
    margin-right: 10px;
    /* height: 100%; */
}

.about .title{
    /* border: 2px solid black; */
    /* color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px; */
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
}


.data .main_info .about .alink{
    /* border: 2px solid black; */
    text-align: left;
    
}

.data .main_info .about .alink a{
    text-decoration: none;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    color: #fff; 
    font-size: 12px;
    /* padding: 0 5px; */
    text-align: left;
}

.data .main_info .about .link a:hover{
    text-decoration: underline;
}

.data .main_info .about_consumer .link a:hover{
    text-decoration: underline;
}

.data .main_info .about_border{
    margin-left: 10px;
    /* border: 2px solid black; */
    width: 49vh;
    height: 21vh;
    padding-left: 40px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.348); */
    border-left: 2px solid rgba(177, 173, 173, 0.348);
}

.data .main_info .about_border h3{
    color: #878787;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 9px;
}

.about_consumer{
    /* border: 2px solid black; */
    width: 28vh;
    margin-right: 10px;    
}

.data .main_info .about_consumer h3{
    color: #878787;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 9px;
}

.data .main_info .about_consumer .alink a{
    text-decoration: none;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    color: #fff; 
    font-size: 12px;
    /* padding: 0 5px; */
    text-align: left;
}

.data .main_info .about_border p{
    font-size: 12px;
    /* padding: 0 5px; */
    text-align: left;
    color: #fff;
    line-height: 1.5;
    display: block;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

.data .main_info .about_borders h3{
    color: #878787;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 9px;
}

.data .main_info .about_borders p{
    font-size: 12px;
    /* padding: 0 5px; */
    text-align: left;
    color: #fff;
    line-height: 1.5;
    display: block;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

.data .main_info .about_borders{
    margin-left: 10px;
    /* border: 2px solid black; */
    width: 49vh;
    height: 21vh;
    padding-left: 40px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.348); */
    /* border-left: 2px solid rgba(177, 173, 173, 0.348); */
}

.about_borders .alink p a{
    /* color: rgb(5, 5, 150);
    font-weight: bold;   */
    text-decoration: none;  
    color: #2874f0;   
}

.main_link{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 20px 65px;
}

.main_link .img{
    padding-right: 45px;
}

.main_link .img .edit{
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    text-align: left;
    padding-left: 5px;
    color: #fff;
    cursor: pointer;
}

.main_link .img .email{
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    text-align: left;
    padding-left: 5px;
    color: #fff;
}