* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0.5rem;;
}
.main {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 70px);
}
.main_right {
    display: flex;
    text-align: start;
    flex-direction: column;
    width: calc(100% - 300px);



}

.sidebar_category2 span{
    padding-left: 2rem;
    
}

span{
    padding-left: 1rem;
    cursor: pointer;

}

.main_right p {
    color: rgb(184, 178, 178);
    font-size: small;
}

.sidebar {
    height: 100%;
    width: 300px;
    background-color: white;
    overflow-y: scroll;
}


.sidebar_categories {
    width: 100%;
    display: flex;
    flex-direction: column;


}

.sidebar_category {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    margin-top: -30;
}
h4{
    color: rgb(119, 118, 118);
}
.sidebar_category2 h4{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
    color: rgb(109, 108, 108);
}
.sidebar_category2 h5{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;

}
h3 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.images {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
     overflow-y: scroll; 
    padding: 15px 15px;
    border-top: 1px solid #ddd;
}
body {
    font-family: 'Roboto', 'sans-serif';
}

.image_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;
    /*border:2px solid red;*/
}
.image_container > img {
    object-fit: cover;
    
}
.image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
}

.img_thumbnail img {
    width: 300px;
    height: 350px;
    object-fit: cover;
    flex-direction: row;
    border-radius: 10px;
    
}
.img_thumbnail img :hover{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0 0;
    margin-top: 25px;
    overflow: hidden;
    margin-left: 60px;
}