*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    font-size: 14px;
    background-color: #f1f3f6; 
    color: #212121;
    line-height: 1.4;
} 

.navbar{
    /* border: 2px solid black; */
    width: 100%;
    height: 9vh;
    background-color: #2874f0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar .navbar_icon{
    /* border: 2px solid black; */
    padding: 7px 40px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    
}

.navbar .navbar_icon .flip-icon{
    /* border: 2px solid black;  */
    width: 14vh;
    height: 100%;
    padding-top: 4px;
}

.navbar .navbar_icon .flip-icon .img{
    /* border: 2px solid black; */
    width: 14vh;
    height: 50%;
}

.navbar .navbar_icon .flip-icon .img img{
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    /* padding: 5px 0; */
}

.navbar .navbar_icon .flip-icon .travel_txt{
    /* border: 2px solid black; */
    width: 14vh;
    height: 50%;
    display: flex;
}

.navbar .navbar_icon .flip-icon .travel_txt a{
    /* border: 2px solid black; */
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 11px;
    justify-content: center;
    text-align: center;
    color: white;
    font-style: italic;
    padding: 2px 2px;
    text-decoration: none;
}

.navbar .navbar_icon .flip-icon .travel_txt a img{
    /* border: 2px solid black; */
    padding-bottom: 4px;
}

.navbar .navbar_icon .flip-icon .travel_txt a:hover{
    text-decoration: underline;
}

.travel_txt a span{
    color: #ffe500;
    font-weight: 500;
    margin-right: 2px;
    margin-left: 2px;
}

.search-form {
    display: flex;
    align-items: center;
    padding: 5px;
}
  
.search-input {
    /* border: 2px solid black; */
    padding: 10px;
    /* border: 1px solid #ccc; */
    border: none;
    width: 400px;
    outline: none;
    height: 6vh;
}  
  
.search_icon{    
    background-color: #fff;
    height: 6vh;
    width: 5vh;
    display: flex;
    align-items: center;
    padding-top: 5px;
    color: #2874f0;
    cursor: pointer;
}

.login{
    display: flex;
    border: 2px solid black;  
    width: 15vh; 
    margin-top: 10px;
    height: 5vh;
    /* margin-top: 5px;     */
    color: #2874f0;
    font-weight: 600;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;    
    border: 1px solid #dbdbdb;    
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.login1{
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    height: 5.5vh;
    margin-top: 6px;
    
    color: #fff;
    font-weight: 600;
   
    cursor: pointer;
    /* border-radius: 2px; */
    /* height: 32px; */
    padding: 9px 9px;

    /* border: 1px solid #dbdbdb; */
}

.more{
    /* border: 2px solid black; */
    /* width: 12vh; */
    display: flex;
    height: 5.6vh;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    color: #fff;
    font-weight: 600;
    /* padding-top: 5px; */
    cursor: pointer;
}

.more .more1{
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    /* padding-top: 5px; */
    /* padding-left: 10px; */
}

.more .arrow{
    /* border: 2px solid black;  */
    width: 100%;
    height: 100%;
    /* padding-top: 4px; */
    display: flex;
    align-items: center;
    /* text-align: left; */
    margin-right: 5px;
    /* align-items: center; */
}

.cart{
    /* border:  2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vh;
    /* padding-right: 5px; */
    color: #fff;
    font-weight: 600;
    /* font-size: 16px; */
    cursor: pointer;
    padding-top: 7px;
}

.cart .cart_img{
    /* border:  2px solid black; */
    /* padding-right: 5px; */
}

.cart .cart_img .cart_txt{
    /* border:  2px solid black; */
    
}

.container{
    width: 100%;
    /* border: 2px solid black;     */
    margin-top: 9vh;
    padding: 0 10px;
    /* margin: 8px;  */
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); */
}

.container .heading{
    /* border: 2px solid black; */
    width: 100%;
    /* height: 20vh;
    /* padding: 28px 0 0;     */
    background-color: #fff;
}

.container .heading .title{
    /* border: 2px solid black;   */
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.348); 
    padding: 25px 0;
    background-color: #fff;
}

.container .heading .title h1{
    display: block;
    font-size: 25px;
    font-weight: 550;
    color: #212121;
    /* border: 2px solid black; */
    /* padding: 8px; */
    padding-bottom: 8px;
}

.container .heading .title span{
    color: #3130308f;
    font-size: 16px;
    font-weight: 520;
}

.container .heading .product{
    /* border: 2px solid black; */
    width: 100%;
    padding: 20px; 
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto); 
    gap: 5px;     
    /* align-items: center;      */
}

.product .product1 {
    grid-column: 1; 
    grid-row: 1; 
}

.product .product2 {
    grid-column: 2; 
    grid-row: 1; 
}

.product .product3 {
    grid-column: 3; 
    grid-row: 1; 
}

.product .product4 {
    grid-column: 4; 
    grid-row: 1; 
}

.product .product5 {
    grid-column: 1; 
    grid-row: 2; 
}

.product .product6 {
    grid-column: 2; 
    grid-row: 2; 
}

.product .product7 {
    grid-column: 3; 
    grid-row: 2; 
}

.product .product8 {
    grid-column: 4; 
    grid-row: 2; 
}

.product .product9 {
    grid-column: 1; 
    grid-row: 3; 
}

.product .product10 {
    grid-column: 2; 
    grid-row: 3; 
}

.product .product11 {
    grid-column: 3; 
    grid-row: 3; 
}
.product .product12 {
    grid-column: 4; 
    grid-row: 3; 
}


.container .heading .product .product1,.product2,.product3,.product4,.product5,.product6,.product7,.product8,.product9,.product10,.product11,.product12{
    /* border: 2px solid black; */
    width: 100%;
    /* height: 50vh; */
    /* padding: 22px 31px; */
    padding: 20px 10px;
    text-align: center;
    
}

.container .heading .product .product1 .product_img{
    /* border: 2px solid black; */
    display: block;
    width: 100%;
    height: 32vh;
    /* padding: 0 0px; */
    /* padding: 19px 22px; */
}

.container .heading .product .product1 .product_img div{
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
}

.container .heading .product .product1 .product_img div img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product1 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product1 .product_txt{
    /* border: 2px solid black; */
    width: 100%;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product1 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product1 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product1 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product2 .product_img{
    /* border: 2px solid black; */
    display: block;
    width: 100%;
    height: 32vh;
    padding: 0 25px;
}

.container .heading .product .product2 .product_img img{
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    transition: all 0.5s;
}

.container .heading .product .product2 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product2 .product_txt{
    /* border: 2px solid black; */
    width: 100%;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product2 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product2 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product2 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product3 .product_img{
    /* border: 2px solid black; */
    display: block;
    width: 100%;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product3 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product3 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product3 .product_txt{
    /* border: 2px solid black; */
    width: 100%;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product3 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product3 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product3 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product4 .product_img{
    /* border: 2px solid black; */
    display: block;
    width: 100%;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product4 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product4 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product4 .product_txt{
    /* border: 2px solid black; */
    width: 100%;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product4 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product4 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product4 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product5 .product_img{
    /* border: 2px solid black; */
    display: block;
    width: 100%;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product5 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product5 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product5 .product_txt{
    /* border: 2px solid black; */
    width: 100%;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product5 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product5 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product5 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product6 .product_img{
    /* border: 2px solid black; */
    display: block;
    width: 100%;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product6 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product6 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product6 .product_txt{
    /* border: 2px solid black; */
    width: 100%;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product6 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product6 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product6 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product7 .product_img{
    /* border: 2px solid black; */
    display: block;
    width: 100%;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product7 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product7 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product7 .product_txt{
    /* border: 2px solid black; */
    width: 100%;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product7 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product7 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product7 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product8 .product_img{
    /* border: 2px solid black; */
    display: block;
    width: 100%;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product8 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product8 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product8 .product_txt{
    /* border: 2px solid black; */
    width: 100%;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product8 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product8 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product8 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product9 .product_img{
   
    display: block;
    width: 100%;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product9 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product9 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product9 .product_txt{
   
    width: 100%;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product9 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product9 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product9 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product9 .product_img{
    
    display: block;
    width: 100%;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product9 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product9 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product9 .product_txt{
   
    width: 100%;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product9 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product9 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product9 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product9 .product_img{
    
    display: block;
    width: 100%;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product9 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product9 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product9 .product_txt{
   
    width: 100%;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product9 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product9 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product9 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product10 .product_img{
   
    display: block;
    width: 100%;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product10 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product10 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product10 .product_txt{
    
    width: 100%;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product10 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product10 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product10 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product11 .product_img{
    
    display: block;
    width: 100%;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product11 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product11 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product11 .product_txt{
    
    width: 100%;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product11 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product11 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product11 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product12 .product_img{
   
    display: block;
    width: 100%;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product12 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product12 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product12 .product_txt{
    
    width: 100%;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product12 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product12 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product12 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product13 .product_img{
    
    display: block;
    width: 36vh;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product13 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product13 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product13 .product_txt{
   
    width: 36vh;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product13 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product13 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product13 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}


.container .heading .product .product14 .product_img{
    
    display: block;
    width: 36vh;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product14 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product14 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product14 .product_txt{
   
    width: 36vh;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product14 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product14 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product14 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product15 .product_img{
   
    display: block;
    width: 36vh;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product15 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product15 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product15 .product_txt{
    
    width: 36vh;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product15 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product15 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product15 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product16 .product_img{
   
    display: block;
    width: 36vh;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product16 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product16 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product16 .product_txt{
    
    width: 36vh;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product16 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product16 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product16 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.container .heading .product .product17 .product_img{
    
    display: block;
    width: 36vh;
    height: 32vh;
    padding: 0 22px;
}

.container .heading .product .product17 .product_img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.container .heading .product .product17 .product_img img:hover{
    transform: scale(1.03);
}

.container .heading .product .product17 .product_txt{
   
    width: 36vh;
    height: 18vh;
    padding: 10px;
}

.container .heading .product .product17 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.container .heading .product .product17 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.container .heading .product .product17 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.data{
    margin-top: 35px;
   
    padding-top: 30px;
    background-color: #172337; 
    
} 

.data .main_info{
     
    padding: 10px 60px;
    height: 40vh;
    display: flex;
    border-bottom: 1px solid rgba(177, 173, 173, 0.348); 
    justify-content: center;
}

.data .main_info .about{
    
    width: 22vh;
    margin-right: 10px;
   
}

.about .title{
   
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
}


.data .main_info .about .alink{
    
    text-align: left;
    
}

.data .main_info .about .alink a{
    text-decoration: none;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    color: #fff; 
    font-size: 12px;
    
    text-align: left;
}

.data .main_info .about .link a:hover{
    text-decoration: underline;
}

.data .main_info .about_consumer .link a:hover{
    text-decoration: underline;
}

.data .main_info .about_border{
    margin-left: 10px;
    
    width: 49vh;
    height: 21vh;
    padding-left: 40px;
    
    border-left: 2px solid rgba(177, 173, 173, 0.348);
}

.data .main_info .about_border h3{
    color: #878787;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 9px;
}

.about_consumer{
    
    width: 28vh;
    margin-right: 10px;    
}

.data .main_info .about_consumer h3{
    color: #878787;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 9px;
}

.data .main_info .about_consumer .alink a{
    text-decoration: none;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    color: #fff; 
    font-size: 12px;
    
    text-align: left;
}

.data .main_info .about_border p{
    font-size: 12px;
    
    text-align: left;
    color: #fff;
    line-height: 1.5;
    display: block;
    
}

.data .main_info .about_borders h3{
    color: #878787;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 9px;
}

.data .main_info .about_borders p{
    font-size: 12px;
    
    text-align: left;
    color: #fff;
    line-height: 1.5;
    display: block;
    
}

.data .main_info .about_borders{
    margin-left: 10px;
    
    width: 49vh;
    height: 21vh;
    padding-left: 40px;
   
}

.about_borders .alink p a{
    
    text-decoration: none;  
    color: #2874f0;   
}

.main_link{
    
    display: flex;
    justify-content: space-between;
    padding: 20px 65px;
}

.main_link .images .img{
    padding-right: 45px;
}

.images{
    display: flex;
}

.main_link .images .img .edit{
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    text-align: left;
    padding-left: 5px;
    color: #fff;
    cursor: pointer;
}

.main_link .img .email{
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    text-align: left;
    padding-left: 5px;
    color: #fff;
}

.main_block{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.images .images1 img{
    width: 100%;
    /* border: 2px solid black; */
}

@media screen and (min-width:240px) and (max-width:425px){
    .heading{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .title{
        width: 100%;
    }
    .container .heading .product{        
        width: 100%;        
        display: flex;
        flex-direction: column;   
        flex-wrap: wrap;        
    }
    
    .data{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* border: 2px solid black; */
    }

    .data .main_info{     
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(177, 173, 173, 0.348); 
        width: 100%;
        height: 100%;
        padding: 0%;
        /* border: 2px solid blue; */
    }

    .data .main_info .about,.about_consumer{
        width: 100%;
        /* border: 2px solid black; */
        margin-top: 10px;
        padding: 0px 5px;
        border: none;
    }

    .data .main_info .about_border{
        width: 100%;
        /* border: 2px solid black; */
        margin: 10px 0 0 0;
        padding: 0px 5px;
        height: 100%;
        border: none;
    }

    .data .main_info .about_borders{
        width: 100%;
        /* border: 2px solid black; */
        margin: 10px 0 0 0;
        padding: 0px 5px;
        height: 100%;       
    }
    
    .main_link{
    
        display: flex;
        flex-direction: row;
        padding: 5px 0;
        /* border: 2px solid black; */
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
    }

    .images{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0%;

    }
   
    .images .images1{
        width: 100%;
    }
}   

@media screen and (min-width:426px) and (max-width:768px){
    .heading{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .title{
        width: 100%;
    }
    .container .heading .product{        
        width: 100%;        
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(6, auto);
        /* flex-direction: column;   
        flex-wrap: wrap;         */
    }

    .product .product1 {
        grid-column: 1; 
        grid-row: 1; 
    }
    
    .product .product2 {
        grid-column: 2; 
        grid-row: 1; 
    }
    
    .product .product3 {
        grid-column: 1; 
        grid-row: 2; 
    }
    
    .product .product4 {
        grid-column: 2; 
        grid-row: 2; 
    }
    
    .product .product5 {
        grid-column: 1; 
        grid-row: 3; 
    }
    
    .product .product6 {
        grid-column: 2; 
        grid-row: 3; 
    }
    
    .product .product7 {
        grid-column: 1; 
        grid-row: 4; 
    }
    
    .product .product8 {
        grid-column: 2; 
        grid-row: 4; 
    }
    
    .product .product9 {
        grid-column: 1; 
        grid-row: 5; 
    }
    
    .product .product10 {
        grid-column: 2; 
        grid-row: 5; 
    }
    
    .product .product11 {
        grid-column: 1; 
        grid-row: 6; 
    }
    .product .product12 {
        grid-column: 2; 
        grid-row: 6; 
    }
    
    .data{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* border: 2px solid black; */
    }

    .data .main_info{     
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(177, 173, 173, 0.348); 
        width: 100%;
        height: 100%;
        padding: 0%;
        /* border: 2px solid blue; */
    }

    .data .main_info .about,.about_consumer{
        width: 100%;
        /* border: 2px solid black; */
        margin-top: 10px;
        padding: 0px 5px;
        border: none;
    }

    .data .main_info .about_border{
        width: 100%;
        /* border: 2px solid black; */
        margin: 10px 0 0 0;
        padding: 0px 5px;
        height: 100%;
        border: none;
    }

    .data .main_info .about_borders{
        width: 100%;
        /* border: 2px solid black; */
        margin: 10px 0 0 0;
        padding: 0px 5px;
        height: 100%;       
    }
    
    .main_link{
    
        display: flex;
        flex-direction: row;
        padding: 5px 0;
        /* border: 2px solid black; */
        width: 100%;
        height: 100%;
        /* border: 2px solid black; */
    }

    .images{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0%;

    }
   
    .images .images1{
        width: 100%;
    }
}


