*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    font-size: 14px;
    background-color: #f1f3f6;
    color: #212121;
    line-height: 1.4;
}

.navbar{   
    width: 100%;
    height: 9vh;
    background-color: #2874f0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar .navbar_icon{
    padding: 7px 40px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    
}

.navbar .navbar_icon .flip-icon{
    width: 14vh;
    height: 100%;
    padding-top: 4px;
}

.navbar .navbar_icon .flip-icon .img{
    width: 14vh;
    height: 50%;
}

.navbar .navbar_icon .flip-icon .img img{
    width: 100%;
    height: 100%;
}

.navbar .navbar_icon .flip-icon .travel_txt{
    width: 14vh;
    height: 50%;
    display: flex;
}

.navbar .navbar_icon .flip-icon .travel_txt a{
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 11px;
    justify-content: center;
    text-align: center;
    color: white;
    font-style: italic;
    padding: 2px 2px;
    text-decoration: none;
}
.navbar .navbar_icon .flip-icon .travel_txt a img{
    padding-bottom: 4px;
}

.navbar .navbar_icon .flip-icon .travel_txt a:hover{
    text-decoration: underline;
}

.travel_txt a span{
    color: #ffe500;
    font-weight: 500;
    margin-right: 2px;
    margin-left: 2px;
}

.search-form {
    display: flex;
    align-items: center;
    padding: 5px;
}
  
.search-input {
    padding: 10px;
    border: none;
    width: 400px;
    outline: none;
    height: 6vh;
}  
  
.search_icon{    
    background-color: #fff;
    height: 6vh;
    width: 5vh;
    display: flex;
    align-items: center;
    color: #2874f0;
    cursor: pointer;
  }

.login{
    display: flex;
    border: 2px solid black;  
    width: 15vh; 
    margin-top: 10px;
    height: 5vh;
    margin-top: 10px;    
    color: #2874f0;
    font-weight: 600;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;    
    border: 1px solid #dbdbdb;    
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.login a{
    text-decoration: none;
    color: #2874f0;
}

.login1{
    display: flex;
    align-items: center;    
    height: 5.5vh;
    margin-top: 6px;    
    color: #fff;
    font-weight: 600;   
    cursor: pointer;    
    padding: 9px 9px; */
}

.more{    
    display: flex;
    height: 5.6vh;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    color: #fff;
    font-weight: 600;    
    cursor: pointer;
}

.more .more1{    
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;  
}

.more .arrow{   
    width: 100%;
    height: 100%;    
    display: flex;
    align-items: center;    
    margin-right: 5px;    
}

.cart{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vh;    
    color: #fff;
    font-weight: 600;    
    cursor: pointer;
    padding-top: 7px;
}

.hamburger{
    display: none;     
}

.bar1 , .bar2, .bar3{
    background-color: black;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
}

.smallnavbar{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}

.smallnavbar ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: #fff;
    justify-content: space-around;
    list-style: none;
    align-items:center;
    padding: 10px;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
}

.smallnavbar li a{
    font-weight: 600;
    height: 100%;
    text-decoration: none;
    color:#000;
    font-family: Roboto,Arial,sans-serif;
    cursor: pointer;
    font-size: 14px;
}

.smallnavbar li a:hover{
    color:blue;
    
}

.container{
    margin-top: 1vh;
    width: 100%;
    /* border: 2px solid black; */
    /* margin: 0 auto; */
    padding: 5px;
}

.recommended{
    /* border: 2px solid black; */
    margin: 8px 0;
}

.recommended h1{
    font-weight: bold;
    /* font-weight: 500; */
    font-size: 18px;
    /* margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    display: block;
    color: #212121;    
}

/* .s1{
    border: 2px solid black;
    width: 100%;
    height: 20vh;
}

.s1 img{
    width: 100%;
    height: 100%;
} */

.main_page{
    border-bottom: 1px solid rgba(0, 0, 0, 0.348);
    width: 100%;    
    background-color: #fff; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.main_page .img{
    width: 100%;
    height: 100%;
}

.main_page .img img{
    width: 100%;
    height: 100%;
}


.materials_bestseller1{
    /* border: 2px solid black;  */
    /* border-top: 1px solid rgba(0, 0, 0, 0.348); */
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}

.materials_bestseller1 .materials_items{
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.348); 
    /* transition: all 0.5s;   */
}

.materials_bestseller{
    /* border: 2px solid black;  */
    /* border-top: 1px solid rgba(0, 0, 0, 0.348); */
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}

.materials_bestseller .materials_items{
    /* border: 2px solid black; */
    padding: 15px 20px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.348);  
}

.materials_content div{
    display: block;
    float: right;
}

.materials_content h2{
    font-size: 20px;
    line-height: 32px;
    display: inline-block;
    font-weight: 400px;
}

.materials_content div a{
    /* border: 2px solid black; */
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
    cursor: pointer;
    outline: none;
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border: none;
}

.materials_content h3{
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 400;
}

.materials_all{    
    width: 100%; 
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.348);    */
}

.materials_all .products{
    /* border: 2px solid black;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 100%; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.348); 
    cursor: pointer;
    overflow-x: auto;      
    /* white-space: nowrap; */
    
}

.materials_all .products .products-1{
    /* border: 2px solid black;  */
    width: 210px;
    /* height: 40vh;    */
    padding: 10px 5px;
    flex: 0 0 auto;
    margin-right: 10px;
   
}

.materials_all .products .products-1 .product_img{
    /* border: 2px solid black; */
    display: block;
    height: 23vh;
    transition: all 0.5s;
}

.materials_all .products .products-1 .product_img img:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.materials_all .products .products-1 .product_img1{
    text-align: center;
    transition: all 0.5s;
}

.materials_all .products .products-1 .product_img1 .img1:hover{
    transform: scale(1.1);
}

.materials_all .products .products-1 .product_img img{
    /* border: 2px solid black; */
    height: 85%;
    width: 83%;
    margin: 5px 9.5px;
}

.materials_all .products .products-1 .product_txt{
    /* border: 2px solid black; */
    /* height: 13vh; */
    padding: 10px;
    text-align: center;    
}

.materials_all .products .products-1 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.materials_all .products .products-1 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    /* text-overflow: ellipsis; */
}

.materials_all .products .products-1 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.materials_all-1{    
    width: 100%; 
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.348);    */
}

.materials_all-1 .products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    width: 100%; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.348); 
    cursor: pointer;
    overflow-x: auto;    
    /* white-space: nowrap; */
    /* white-space: nowrap; */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.348);   */
}

.materials_all-1 .products .products-1{
    /* border: 2px solid black;  */
    width: 210px;
    /* overflow-x: scroll; */
    /* height: 40vh;*/
    padding: 10px 5px; 
    margin-right: 10px;  
    flex: 0 0 auto;
}

.materials_all-1 .products .products-1 .product_img{
    /* border: 2px solid black; */
    display: block;
    height: 23vh;
    transition: all 0.5s;
}

.materials_all-1 .products .products-1 .product_img img:hover{
    transform: scale(1.1);
}

.materials_all-1 .products .products-1 .product_img1{
    text-align: center;
    /* transition: all 0.5s; */
}

.materials_all-1 .products .products-1 .product_img1 .img1:hover{
    transform: scale(1.1);
}

.materials_all-1 .products .products-1 .product_img img{
    /* border: 2px solid black; */
    height: 85%;
    width: 83%;
    margin: 5px 9.5px;
    transition: all 0.5s;
}

.materials_all-1 .products .products-1 .product_txt{
    /* border: 2px solid black; */
    /* height: 13vh; */
    padding: 10px;
    text-align: center;    
}

.materials_all-1 .products .products-1 .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.materials_all-1 .products .products-1 .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.materials_all-1 .products .products-1 .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
}

.main_living{
    /* border: 2px solid black; */
    /* height: 20em; */
    background-color: #fff;
    border-radius: 2px;
}

.main_living .heading{
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.348);
}

.main_living .heading{
    border-bottom: 1px solid rgba(0, 0, 0, 0.348); 
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    align-items: center;
    padding: 15px 20px;
}

.main_living .heading h2{
    font-size: 20px;
    line-height: 32px;
    display: inline-block; 
    font-weight: 400px;
    text-overflow: ellipsis;
}

.main_living .heading span{
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
    cursor: pointer;
    outline: none;
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border: none;
    text-overflow: ellipsis;
}

.main_living .main_products{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.main_living .living_product{
     /* border: 2px solid black;   */
    width: 210px;
     height: 30ex;     
    padding: 10px 5px;    
}

.main_living .living_product .product_img{
    /* border: 2px solid red;  */
    height: 23vh;

}

.main_living .living_product .product_img img{
    /* border: 2px solid black;  */
    width: 100%;
    height: 100%;
}

.main_living .living_product .product_txt{
     /* border: 2px solid black;  */
    padding: 10px;
    text-align: center;
}

.main_living .living_product .product_txt h2{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-overflow: ellipsis;
}

.main_living .living_product .product_txt span{
    color: rgb(56, 142, 60);
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
    
}

.main_living .living_product .product_txt p{
    padding: 10px;
    color: #b2b2b2;
    font-size: 13px;
    text-overflow: ellipsis;
} 

.items{
    /* border: 2px solid black; */
    /* background-color: #fff; */
}

.items .farniture_items{
    /* border: 2px solid black;     */
    display: flex;
    flex-direction: row; 
    justify-content: space-between;  
}

.items .farniture_items .item_1{
    /* border: 2px solid black; */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.348); */
    padding-bottom: 10px;
    width: 23.4em;
    /* height: 29em;  */
    background-color: #fff;
    cursor: pointer;
}

.items .farniture_items .item_1 .things{
    /* border: 2px solid black;  */
    height: 16vh; 
    display: flex;    
    align-items: center;
    padding: 10px;
}

.items .farniture_items .item_1 .things .img{
    /* border: 2px solid black; */
    height: 100%;
    width: 37%;
    /* padding-top: 10px; */
    margin-left: 20px;
}

.items .farniture_items .item_1 .things .img img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.items .farniture_items .item_1 .things .txt{
    /* border: 2px solid black;  */
    text-align: center;
    display: inline-block;
    height: 100%;
    width: 120px;
    padding-top: 25px;
    margin-left: 5px;
    /* padding-righ 40px; */
}

.items .farniture_items .item_1 .things .txt h3{
    font-size: 15px;
    font-weight: 570;
    text-align: center;
    
} 

.data{
    margin-top: 35px;
   
    padding-top: 30px;
    background-color: #172337; 
    
} 

.data .main_info{
     
    padding: 10px 60px;
    height: 40vh;
    display: flex;
    border-bottom: 1px solid rgba(177, 173, 173, 0.348); 
    justify-content: center;
}

.data .main_info .about{
    
    width: 22vh;
    margin-right: 10px;
   
}

.about .title{
   
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
}


.data .main_info .about .alink{
    
    text-align: left;
    
}

.data .main_info .about .alink a{
    text-decoration: none;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    color: #fff; 
    font-size: 12px;
    
    text-align: left;
}

.data .main_info .about .link a:hover{
    text-decoration: underline;
}

.data .main_info .about_consumer .link a:hover{
    text-decoration: underline;
}

.data .main_info .about_border{
    margin-left: 10px;
    
    width: 49vh;
    height: 21vh;
    padding-left: 40px;
    
    border-left: 2px solid rgba(177, 173, 173, 0.348);
}

.data .main_info .about_border h3{
    color: #878787;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 9px;
}

.about_consumer{
    
    width: 28vh;
    margin-right: 10px;    
}

.data .main_info .about_consumer h3{
    color: #878787;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 9px;
}

.data .main_info .about_consumer .alink a{
    text-decoration: none;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    color: #fff; 
    font-size: 12px;
    
    text-align: left;
}

.data .main_info .about_border p{
    font-size: 12px;
    
    text-align: left;
    color: #fff;
    line-height: 1.5;
    display: block;
    
}

.data .main_info .about_borders h3{
    color: #878787;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 9px;
}

.data .main_info .about_borders p{
    font-size: 12px;
    
    text-align: left;
    color: #fff;
    line-height: 1.5;
    display: block;
    
}

.data .main_info .about_borders{
    margin-left: 10px;
    
    width: 49vh;
    height: 21vh;
    padding-left: 40px;
   
}

.about_borders .alink p a{
    
    text-decoration: none;  
    color: #2874f0;   
}

.main_link{
    
    display: flex;
    justify-content: space-between;
    padding: 20px 65px;
}

.main_link .images .img{
    padding-right: 45px;
}

.images{
    display: flex;
}

.main_link .images .img .edit{
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    text-align: left;
    padding-left: 5px;
    color: #fff;
    cursor: pointer;
}

.main_link .img .email{
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    text-align: left;
    padding-left: 5px;
    color: #fff;
}

.main_block{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.images .images1 img{
    width: 100%;
    /* border: 2px solid black; */
}

@media screen and (min-width:240px) and (max-width:425px){  
    .navbar{
        padding: 0%;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;        
        z-index: 3;
        width: 100%;                    
    }       

    .navbar .navbar_icon .flip-icon{              
        padding: 0%;
    }    

    .search{
        display: none;               
    } 

    .login{
        display: none;
    }

    .login1{
        display: none;
    }

    .more{
        display: none;
    }

    .cart{
        display: none;
    }

    .hamburger{
        display: flex;
        flex-direction: column;   
        justify-content: center;
        align-items: center;
        padding-left: 30px;
    }
    
    .container{
        width: 100%;        
    }
    .main_page{        
        width: 100%;   
        height: 100%;     
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: row;
        /* flex-wrap: wrap; */
    }

    .materials_bestseller1{
        width: 100%;
        height: 100%;
    }

    .materials_bestseller .materials_items{        
        padding: 10px;      
        width: 100%;
        height: 100%;  
    }

    .materials_content h2{
        font-size: 12px;
        line-height: 32px;
        display: inline-block;
        font-weight: 400px;
    }

    .materials_content div a{        
        text-decoration: none;
        display: inline-block;
        border-radius: 2px;
        padding: 8px;
        font-size: 8px;
        font-weight: 500;
        transition: box-shadow .2s ease;
        vertical-align: super;
        cursor: pointer;
        outline: none;
        background: #2874f0;
        color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        border: none;
    }

    .materials_content h3{
        font-size: 8px;
        color: #b2b2b2;
        font-weight: 400;
    }

    .main_living{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    .main_living .heading h2{
        font-size: 12px;
        line-height: 32px;
        display: inline-block; 
        font-weight: 400px;
        text-overflow: ellipsis;
    }

    .main_living .heading span{
        text-decoration: none;
        display: inline-block;
        border-radius: 2px;
        padding: 8px;
        font-size: 8px;
        font-weight: 500;
        transition: box-shadow .2s ease;
        vertical-align: super;
        cursor: pointer;
        outline: none;
        background: #2874f0;
        color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        border: none;
        text-overflow: ellipsis;
    }

    .data{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;        
    }

    .data .main_info{     
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(177, 173, 173, 0.348); 
        width: 100%;
        height: 100%;
        padding: 0%;        
    }

    .data .main_info .about,.about_consumer{
        width: 100%;       
        margin-top: 10px;
        padding: 0px 5px;
        border: none;
    }

    .data .main_info .about_border{
        width: 100%;        
        margin: 10px 0 0 0;
        padding: 0px 5px;
        height: 100%;
        border: none;
    }

    .data .main_info .about_borders{
        width: 100%;        
        margin: 10px 0 0 0;
        padding: 0px 5px;
        height: 100%;       
    }
    
    .main_link{
    
        display: flex;
        flex-direction: row;
        padding: 5px 0;       
        width: 100%;
        height: 100%;       
    }

    .images{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0%;

    }
   
    .images .images1{
        width: 100%;
    }
}

@media screen and (min-width:426px) and (max-width:768px){
    .navbar{
        padding: 0%;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;        
        z-index: 3;
        width: 100%;                          
    } 
    
    .search{
        width: 50%;        
        padding: 0%;
        height: 100%;
    }

    .search-form {
        display: flex;
        align-items: center;
        padding: 3px;
    }
    
    .search-input {
        padding: 0px;
        border: none;
        width: 100%;   
    }  

    .login{
        display: none;
    }

    .login1{
        display: none;
    }

    .more{
        display: none;
    }

    .cart{
        display: none;
    }

    .hamburger{
        display: flex;
        flex-direction: column;   
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        padding-right: 30px;
    }
    
    .container{
        width: 100%;        
    }
    .main_page{        
        width: 100%;   
        height: 100%;     
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: row;
        /* flex-wrap: wrap; */
    }

    .materials_bestseller1{
        width: 100%;
        height: 100%;
    }

    .materials_bestseller .materials_items{        
        padding: 10px;      
        width: 100%;
        height: 100%;  
    }

    .materials_content h2{
        font-size: 14px;
        line-height: 32px;
        display: inline-block;
        font-weight: 400px;
    }

    .materials_content div a{        
        text-decoration: none;
        display: inline-block;
        border-radius: 2px;
        padding: 10px;
        font-size: 10px;
        font-weight: 500;
        transition: box-shadow .2s ease;
        vertical-align: super;
        cursor: pointer;
        outline: none;
        background: #2874f0;
        color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        border: none;
    }

    .materials_content h3{
        font-size: 10px;
        color: #b2b2b2;
        font-weight: 400;
    }

    .main_living{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    .main_living .heading h2{
        font-size: 14px;
        line-height: 32px;
        display: inline-block; 
        font-weight: 400px;
        text-overflow: ellipsis;
    }

    .main_living .heading span{
        text-decoration: none;
        display: inline-block;
        border-radius: 2px;
        padding: 10px;
        font-size: 10px;
        font-weight: 500;
        transition: box-shadow .2s ease;
        vertical-align: super;
        cursor: pointer;
        outline: none;
        background: #2874f0;
        color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        border: none;
        text-overflow: ellipsis;
    }

    .data{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;        
    }

    .data .main_info{     
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(177, 173, 173, 0.348); 
        width: 100%;
        height: 100%;
        padding: 0%;        
    }

    .data .main_info .about,.about_consumer{
        width: 100%;       
        margin-top: 10px;
        padding: 0px 5px;
        border: none;
    }

    .data .main_info .about_border{
        width: 100%;        
        margin: 10px 0 0 0;
        padding: 0px 5px;
        height: 100%;
        border: none;
    }

    .data .main_info .about_borders{
        width: 100%;        
        margin: 10px 0 0 0;
        padding: 0px 5px;
        height: 100%;       
    }
    
    .main_link{
    
        display: flex;
        flex-direction: row;
        padding: 5px 0;       
        width: 100%;
        height: 100%;       
    }

    .images{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0%;

    }
   
    .images .images1{
        width: 100%;
    }

    .data{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    .data .main_info{     
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(177, 173, 173, 0.348); 
        width: 100%;
        height: 100%;
        padding: 0%;
       
    }

    .data .main_info .about,.about_consumer{
        width: 100%;
        
        margin-top: 10px;
        padding: 0px 5px;
        border: none;
    }

    .data .main_info .about_border{
        width: 100%;
        
        margin: 10px 0 0 0;
        padding: 0px 5px;
        height: 100%;
        border: none;
    }

    .data .main_info .about_borders{
        width: 100%;
        
        margin: 10px 0 0 0;
        padding: 0px 5px;
        height: 100%;       
    }
    
    .main_link{
    
        display: flex;
        flex-direction: row;
        padding: 5px 0;
        
        width: 100%;
        height: 100%;
        
    }

    .images{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0%;

    }
   
    .images .images1{
        width: 100%;
    }
}

@media screen and (min-width:769px) and (max-width:1024px){
    .container{
        width: 100%;        
    }
    .main_page{        
        width: 100%;   
        height: 100%;     
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: row;
        /* flex-wrap: wrap; */
    }

    .materials_bestseller1{
        width: 100%;
        height: 100%;
    }

    .materials_bestseller .materials_items{        
        padding: 10px;      
        width: 100%;
        height: 100%;  
    }

    .materials_content h2{
        font-size: 16px;
        line-height: 32px;
        display: inline-block;
        font-weight: 400px;
    }

    .materials_content div a{        
        text-decoration: none;
        display: inline-block;
        border-radius: 2px;
        padding: 10px;
        font-size: 12px;
        font-weight: 500;
        transition: box-shadow .2s ease;
        vertical-align: super;
        cursor: pointer;
        outline: none;
        background: #2874f0;
        color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        border: none;
    }

    .materials_content h3{
        font-size: 12px;
        color: #b2b2b2;
        font-weight: 400;
    }

    .main_living{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    .main_living .heading h2{
        font-size: 16px;
        line-height: 32px;
        display: inline-block; 
        font-weight: 400px;
        text-overflow: ellipsis;
    }

    .main_living .heading span{
        text-decoration: none;
        display: inline-block;
        border-radius: 2px;
        padding: 8px;
        font-size: 12px;
        font-weight: 500;
        transition: box-shadow .2s ease;
        vertical-align: super;
        cursor: pointer;
        outline: none;
        background: #2874f0;
        color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        border: none;
        text-overflow: ellipsis;
    }
}